/* CONTAINERS — WRAPPERS */

.wrap-100 {
  width: auto;              /* defaults to 100% but takes borders into account = big win since we can’t rely on box-sizing */
  margin: @base-margin 0;
}

.wrap-90 {
  width: 90%;
  margin: @base-margin 5%;  /* Since we can’t use auto (0 in legacy RMSDK), we must center using % */
}

.wrap-80 {
  width: 80%;               /* width: 80% -> KF8 bug, see amzn-kf8 query for fix */
  margin: @base-margin 10%;
}

.wrap-70 {
  width: 70%;
  margin: @base-margin 15%;
}

.wrap-60 {
  width: 60%;
  margin: @base-margin 20%;
}

.wrap-50 {
  width: 50%;
  margin: @base-margin 25%;
}

.wrap-40 {
  width: 40%;
  margin: @base-margin 30%;
}

.wrap-30 {
  width: 30%;
  margin: @base-margin 35%;
}

.wrap-20 {
  width: 20%;
  margin: @base-margin 40%;
}

.wrap-10 {
  width: 10%;
  margin: @base-margin 45%;
}

/* Widths */

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;

  & when (@handle-kindle) {
    @media @kf8 {
      width: 78%;			  /* Because Kindle developers… */
      margin: (@body-line-height + 0em) 11%;
    }
  }
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

/* Heights */

.h-100 {
  height: 99%; 		/* 99.8% cos’ legacy RMSDK applies blank page after if 100% */
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.h-60 {
  height: 60%;
}

.h-50 {
  height: 50%;
}

.h-40 {
  height: 40%;
}

.h-30 {
  height: 30%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}

#height-vh() {
  @supports (height: 100vh) {
  /* Can be used for containers and images 
     but Should be used in combination with .portrait if used for img */
    .h-100 {
      height: 99vh;     /* Trying to avoid blank page after */
    }
    
    .h-90 {
      height: 90vh;  
    }
    
    .h-80 {
      height: 80vh;
    }
    
    .h-70 {
      height: 70vh;
    }
    
    .h-60 {
      height: 60vh;
    }
    
    .h-50 {
      height: 50vh;
    }
    
    .h-40 {
      height: 40vh;
    }
    
    .h-30 {
      height: 30vh;
    }
    
    .h-20 {
      height: 20vh;
    }
    
    .h-10 {
      height: 10vh;
    }
  }
}

#height-vh;

/* Floats */
/* If there are too many floating elements in a XHTML file, 
performance of legacy RMSDK takes a huge hit (± 4 seconds to 
render page on eInk devices)                                    */

.float-left {
  float: left;
  margin: 0 1.5% 0 0;

  & when (@handle-kindle) {
    @media @mobi7 {
      float: none;    /* Mobi 7 doesn’t support float */
      margin: floor(@base-margin) 0;
      text-align: center;
    }
  }
}

.float-right {
  float: right;
  margin: 0 0 0 1.5%;

  & when (@handle-kindle) {
    @media @mobi7 {
      float: none;
      margin: floor(@base-margin) 0;
      text-align: center;
    }
  }
}