// Overrides


.override-italic {
    font-style: normal;   
}

.override-iBooks-links(@overrideColor: inherit) {
    -webkit-text-fill-color: @overrideColor;   /* iBooks override (iOS 9 + El Capitan in night mode) */
}

.override-tab-size(@tabs: 4) {
  -ms-tab-size: @tabs;
  -moz-tab-size: @tabs;
  -webkit-tab-size: @tabs;
  tab-size: @tabs;   
}