@charset "UTF-8";
/*!
  Blitz — CSS framework for reflowable eBooks
  Version 1.5.2 by Jiminy Panoz
  Codename: Cool Under Heat
  License: MIT (https://opensource.org/licenses/MIT)
*/
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";
address,
article,
aside,
blockquote,
canvas,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
summary,
ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  text-indent: 0;
  font-style: normal;
  font-weight: 400
}
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block
}
[hidden] {
  display: none
}
dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  text-align: left
}
nav[epub|type~=toc] ol {
  list-style: none!important
}
@media amzn-kf8,
amzn-mobi {
  nav ol {
    list-style-type: none!important
  }
}
nav[epub|type~=landmarks],
nav[epub|type~=page-list] {
  display: none
}
a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none
}
q {
  quotes: none
}
body > :last-child,
body > section > :last-child {
  margin-bottom: 0
}
@page {
  margin: 30px 30px 20px 30px;
  padding: 0
}
body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  widows: 2;
  orphans: 2
}
.align-center,
.align-left,
.align-right,
.caption,
.no-hyphens,
address,
blockquote p cite,
caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
table,
td,
th {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none
}
dt,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid
}
@media amzn-kf8 {
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    page-break-inside: auto;
    break-inside: auto
  }
}
h1 {
  font-size: 1.4375em;
  line-height: 1.04347826;
  margin-top: 0;
  margin-bottom: 2.08695652em
}
@media amzn-kf8 {
  h1 {
    line-height: 1.2
  }
}
@media amzn-mobi {
  h1 {
    font-size: xx-large;
    margin: 0 0 3em 0
  }
}
h2 {
  font-size: 1.3125em;
  line-height: 1.14285714;
  margin-top: 2.28571429em;
  margin-bottom: 1.14285714em
}
@media amzn-kf8 {
  h2 {
    line-height: 1.2
  }
}
@media amzn-mobi {
  h2 {
    font-size: x-large;
    margin: 2em 0 1em 0
  }
}
h3 {
  font-size: 1.125em;
  line-height: 1.33333333;
  margin-top: 1.33333333em;
  margin-bottom: 1.33333333em
}
@media amzn-mobi {
  h3 {
    font-size: large;
    margin: 1em 0
  }
}
h4 {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 0
}
@media amzn-mobi {
  h4 {
    font-size: medium;
    margin: 1em 0 0 0
  }
}
p {
  text-indent: 1em
}
.footnote {
  font-size: .9375em;
  line-height: 1.6;
  text-indent: 0
}
@media amzn-mobi {
  .footnote {
    font-size: medium
  }
}
blockquote {
  margin: 1.5em 5%
}
@media amzn-mobi {
  blockquote {
    margin: 1em 5%
  }
}
blockquote p {
  text-indent: 0;
  font-style: italic
}
blockquote p cite,
blockquote p em,
blockquote p i {
  font-style: normal
}
a {
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  -webkit-text-fill-color: inherit
}
cite,
dfn,
em,
i {
  font-style: italic
}
cite cite,
cite dfn,
cite em,
cite i,
dfn cite,
dfn dfn,
dfn em,
dfn i,
em cite,
em dfn,
em em,
em i,
i cite,
i dfn,
i em,
i i {
  font-style: normal
}
b,
strong {
  font-weight: 700
}
del,
s {
  text-decoration: line-through
}
mark {
  background-color: #ff0;
  color: inherit
}
small {
  font-size: .8125em
}
@media amzn-mobi {
  small {
    font-size: small
  }
}
sub {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: sub;
  vertical-align: -20%
}
@media amzn-mobi {
  sub {
    font-size: x-small
  }
}
sup {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 33%
}
@media amzn-mobi {
  sup {
    font-size: x-small
  }
}
rt {
  font-size: 50%;
  text-transform: full-size-kana
}
figure {
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 1.5em 0
}
@media amzn-kf8 {
  figure {
    page-break-inside: auto;
    break-inside: auto
  }
}
.caption,
figcaption {
  font-size: .9375em;
  line-height: 1.6;
  text-indent: 0
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: bottom
}
img.portrait {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 95%
}
.float-left img,
.float-right img {
  width: 100%
}
@supports (height:99vh) {
  img.portrait {
    height: 99vh
  }
}