@charset "UTF-8";
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace m "http://www.w3.org/1998/Math/MathML/";
@namespace svg "http://www.w3.org/2000/svg";
address,
article,
aside,
blockquote,
canvas,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
summary,
ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  text-indent: 0;
  font-style: normal;
  font-weight: 400
}
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block
}
[hidden] {
  display: none
}
dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  text-align: left
}
nav[epub|type~=toc] ol {
  list-style: none!important
}
@media amzn-kf8,
amzn-mobi {
  nav ol {
    list-style-type: none!important
  }
}
nav[epub|type~=landmarks],
nav[epub|type~=page-list] {
  display: none
}
a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none
}
q {
  quotes: none
}
body > :last-child,
body > section > :last-child {
  margin-bottom: 0
}
@page {
  margin: 30px 30px 20px 30px;
  padding: 0
}
body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  widows: 2;
  orphans: 2
}
.align-center,
.align-left,
.align-right,
.caption,
.no-hyphens,
address,
blockquote p cite,
caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
table,
td,
th {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none
}
dt,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid
}
@media amzn-kf8 {
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    page-break-inside: auto;
    break-inside: auto
  }
}
h1 {
  font-size: 1.4375em;
  line-height: 1.04347826;
  margin-top: 0;
  margin-bottom: 2.08695652em
}
@media amzn-kf8 {
  h1 {
    line-height: 1.2
  }
}
@media amzn-mobi {
  h1 {
    font-size: xx-large;
    margin: 0 0 3em 0
  }
}
h2 {
  font-size: 1.3125em;
  line-height: 1.14285714;
  margin-top: 2.28571429em;
  margin-bottom: 1.14285714em
}
@media amzn-kf8 {
  h2 {
    line-height: 1.2
  }
}
@media amzn-mobi {
  h2 {
    font-size: x-large;
    margin: 2em 0 1em 0
  }
}
h3 {
  font-size: 1.125em;
  line-height: 1.33333333;
  margin-top: 1.33333333em;
  margin-bottom: 1.33333333em
}
@media amzn-mobi {
  h3 {
    font-size: large;
    margin: 1em 0
  }
}
h4 {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 0
}
@media amzn-mobi {
  h4 {
    font-size: medium;
    margin: 1em 0 0 0
  }
}
p {
  text-indent: 1em
}
.footnote {
  font-size: .9375em;
  line-height: 1.6;
  text-indent: 0
}
@media amzn-mobi {
  .footnote {
    font-size: medium
  }
}
blockquote {
  margin: 1.5em 5%
}
@media amzn-mobi {
  blockquote {
    margin: 1em 5%
  }
}
blockquote p {
  text-indent: 0;
  font-style: italic
}
blockquote p cite,
blockquote p em,
blockquote p i {
  font-style: normal
}
a {
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  -webkit-text-fill-color: inherit
}
cite,
dfn,
em,
i {
  font-style: italic
}
cite cite,
cite dfn,
cite em,
cite i,
dfn cite,
dfn dfn,
dfn em,
dfn i,
em cite,
em dfn,
em em,
em i,
i cite,
i dfn,
i em,
i i {
  font-style: normal
}
b,
strong {
  font-weight: 700
}
del,
s {
  text-decoration: line-through
}
mark {
  background-color: #ff0;
  color: inherit
}
small {
  font-size: .8125em
}
@media amzn-mobi {
  small {
    font-size: small
  }
}
sub {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: sub;
  vertical-align: -20%
}
@media amzn-mobi {
  sub {
    font-size: x-small
  }
}
sup {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 33%
}
@media amzn-mobi {
  sup {
    font-size: x-small
  }
}
rt {
  font-size: 50%;
  text-transform: full-size-kana
}
figure {
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 1.5em 0
}
@media amzn-kf8 {
  figure {
    page-break-inside: auto;
    break-inside: auto
  }
}
.caption,
figcaption {
  font-size: .9375em;
  line-height: 1.6;
  text-indent: 0
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: bottom
}
img.portrait {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 95%
}
.float-left img,
.float-right img {
  width: 100%
}
@supports (height:99vh) {
  img.portrait {
    height: 99vh
  }
}
ol,
ul {
  margin: 1.5em 0;
  padding-left: 2em
}
@media amzn-mobi {
  ol,
  ul {
    margin: 1em 0
  }
}
ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: 1em
}
ul {
  list-style-type: disc;
  list-style-position: outside
}
ul ul {
  list-style-type: square
}
ol {
  list-style-type: decimal;
  list-style-position: outside
}
ol ol {
  list-style-type: lower-roman
}
dl {
  margin: 1.5em 0 1.5em 5%
}
@media amzn-mobi {
  dl {
    margin: 1em 5%
  }
}
dt {
  margin: 1.5em 0 0 0;
  font-weight: 700
}
@media amzn-mobi {
  dt {
    margin-top: 1em
  }
}
dt > dfn {
  font-style: normal;
  font-weight: 700
}
hr {
  width: 25%;
  margin-left: 37.5%;
  margin-top: 1.4375em;
  margin-bottom: 1.4375em;
  height: 0;
  border: none;
  border-top: .125em solid currentColor;
  opacity: .5
}
@media amzn-mobi {
  hr {
    margin: 1em 0
  }
}
hr.transition {
  width: 100%;
  margin: 0;
  height: 1.5em;
  border: none;
  background: 0 0
}
hr.asterism {
  width: auto;
  border: none;
  margin: 1.5em 0;
  height: 1.5em;
  text-indent: 0;
  text-align: center;
  background: transparent url(../../Images/asterism.svg) no-repeat center;
  background-size: 2.5em 1.25em;
  overflow: hidden;
  opacity: .7
}
table {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  margin: 1.5em auto;
  font-feature-settings: "tnum" 1;
  font-variant-numeric: tabular-nums
}
@media amzn-mobi {
  table {
    margin: 1em 0
  }
}
caption {
  caption-side: top;
  text-align: center;
  font-weight: 700
}
th {
  empty-cells: show;
  border-bottom: .125em solid currentColor;
  padding: .6875em 10px .6875em 0;
  text-align: left;
  font-weight: 700
}
td {
  empty-cells: show;
  border-bottom: .0625em solid currentColor;
  padding: .75em 10px .6875em 0;
  text-align: left
}
.table-fixed {
  table-layout: fixed
}
pre {
  margin: 1.5em 0 1.5em 5%;
  word-wrap: break-word;
  white-space: pre-wrap;
  -ms-tab-size: 2;
  -moz-tab-size: 2;
  -webkit-tab-size: 2;
  tab-size: 2
}
@media amzn-mobi {
  pre {
    margin: 1em 0
  }
}
code,
kbd,
samp,
var {
  font-family: monospace
}
canvas,
iframe,
svg,
video {
  width: auto;
  max-width: 100%;
  height: auto
}
svg {
  object-fit: contain
}
.wrap-100 {
  width: auto;
  margin: 1.5em 0
}
.wrap-90 {
  width: 90%;
  margin: 1.5em 5%
}
.wrap-80 {
  width: 80%;
  margin: 1.5em 10%
}
.wrap-70 {
  width: 70%;
  margin: 1.5em 15%
}
.wrap-60 {
  width: 60%;
  margin: 1.5em 20%
}
.wrap-50 {
  width: 50%;
  margin: 1.5em 25%
}
.wrap-40 {
  width: 40%;
  margin: 1.5em 30%
}
.wrap-30 {
  width: 30%;
  margin: 1.5em 35%
}
.wrap-20 {
  width: 20%;
  margin: 1.5em 40%
}
.wrap-10 {
  width: 10%;
  margin: 1.5em 45%
}
.w-100 {
  width: 100%
}
.w-90 {
  width: 90%
}
.w-80 {
  width: 80%
}
@media amzn-kf8 {
  .w-80 {
    width: 78%;
    margin: 1.5em 11%
  }
}
.w-70 {
  width: 70%
}
.w-60 {
  width: 60%
}
.w-50 {
  width: 50%
}
.w-40 {
  width: 40%
}
.w-30 {
  width: 30%
}
.w-20 {
  width: 20%
}
.w-10 {
  width: 10%
}
.h-100 {
  height: 99%
}
.h-90 {
  height: 90%
}
.h-80 {
  height: 80%
}
.h-70 {
  height: 70%
}
.h-60 {
  height: 60%
}
.h-50 {
  height: 50%
}
.h-40 {
  height: 40%
}
.h-30 {
  height: 30%
}
.h-20 {
  height: 20%
}
.h-10 {
  height: 10%
}
@supports (height:100vh) {
  .h-100 {
    height: 99vh
  }
  .h-90 {
    height: 90vh
  }
  .h-80 {
    height: 80vh
  }
  .h-70 {
    height: 70vh
  }
  .h-60 {
    height: 60vh
  }
  .h-50 {
    height: 50vh
  }
  .h-40 {
    height: 40vh
  }
  .h-30 {
    height: 30vh
  }
  .h-20 {
    height: 20vh
  }
  .h-10 {
    height: 10vh
  }
}
.float-left {
  float: left;
  margin: 0 1.5% 0 0
}
@media amzn-mobi {
  .float-left {
    float: none;
    margin: 1em 0;
    text-align: center
  }
}
.float-right {
  float: right;
  margin: 0 0 0 1.5%
}
@media amzn-mobi {
  .float-right {
    float: none;
    margin: 1em 0;
    text-align: center
  }
}
.block {
  display: block
}
.inline-block {
  display: inline-block
}
.hidden {
  display: none
}
.clear {
  clear: both
}
.clear-left {
  clear: left
}
.clear-right {
  clear: right
}
.boxed {
  border: .0625em solid currentColor;
  padding: .6875em
}
.no-margin {
  margin: 0
}
.no-margin-top {
  margin-top: 0
}
.no-margin-bottom {
  margin-bottom: 0
}
.no-margin-left {
  margin-left: 0
}
.no-margin-right {
  margin-right: 0
}
.margin-top-s {
  margin-top: .75em
}
@media amzn-mobi {
  .margin-top-s {
    margin-top: 1em
  }
}
.margin-top-m {
  margin-top: 1.5em
}
@media amzn-mobi {
  .margin-top-m {
    margin-top: 2em
  }
}
.margin-top-l {
  margin-top: 3em
}
@media amzn-mobi {
  .margin-top-l {
    margin-top: 3em
  }
}
.margin-top-xl {
  margin-top: 4.5em
}
@media amzn-mobi {
  .margin-top-xl {
    margin-top: 5em
  }
}
.margin-top-xxl {
  margin-top: 6em
}
@media amzn-mobi {
  .margin-top-xxl {
    margin-top: 6em
  }
}
.margin-bottom-s {
  margin-bottom: .75em
}
@media amzn-mobi {
  .margin-bottom-s {
    margin-bottom: 1em
  }
}
.margin-bottom-m {
  margin-bottom: 1.5em
}
@media amzn-mobi {
  .margin-bottom-m {
    margin-bottom: 2em
  }
}
.margin-bottom-l {
  margin-bottom: 3em
}
@media amzn-mobi {
  .margin-bottom-l {
    margin-bottom: 3em
  }
}
.margin-bottom-xl {
  margin-bottom: 4.5em
}
@media amzn-mobi {
  .margin-bottom-xl {
    margin-bottom: 5em
  }
}
.margin-bottom-xxl {
  margin-bottom: 6em
}
@media amzn-mobi {
  .margin-bottom-xxl {
    margin-bottom: 6em
  }
}
.margin-left-s {
  margin-left: 2.5%
}
.margin-left-m {
  margin-left: 5%
}
.margin-left-l {
  margin-left: 7.5%
}
.margin-left-xl {
  margin-left: 10%
}
.margin-left-xxl {
  margin-left: 15%
}
.margin-right-s {
  margin-right: 2.5%
}
.margin-right-m {
  margin-right: 5%
}
.margin-right-l {
  margin-right: 7.5%
}
.margin-right-xl {
  margin-right: 10%
}
.margin-right-xxl {
  margin-right: 15%
}
.sans {
  font-family: sans-serif
}
.serif {
  font-family: serif
}
.monospace {
  font-family: monospace
}
.humanist {
  font-family: "Myriad Pro",Seravek,Ember,"Trebuchet MS","BN Trebuchet MS","PT Sans","Frutiger Neue",Roboto,sans-serif
}
.geometric {
  font-family: Futura,"Century Gothic","Apple SD Gothic Neo",AppleGothic,sans-serif
}
.oldstyle {
  font-family: "Minion Pro","Iowan Old Style",Palatino,"Palatino Linotype","Palatino Nova","BN Amasis",Cambria,FreeSerif,"Times New Roman",serif
}
.modern {
  font-family: Athelas,Literata,Bookerly,"Merriweather Serif",Malabar,"BN Malabar",Georgia,"Droid Serif",serif
}
.justified {
  text-align: justify;
  adobe-hyphenate: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
  -ms-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-zone: 10%;
  -moz-hyphenate-limit-zone: 10%;
  -webkit-hyphenate-limit-zone: 10%;
  hyphenate-limit-zone: 10%;
  -ms-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-last: always;
  hyphenate-limit-last: always
}
.align-left {
  text-align: left
}
.align-center {
  text-indent: 0;
  text-align: center
}
.align-right {
  text-indent: 0;
  text-align: right
}
.indent {
  text-indent: 1em
}
.no-indent {
  text-indent: 0
}
.hanging-indent {
  text-indent: -5%;
  margin-left: 5%
}
@media amzn-mobi {
  .hanging-indent {
    margin-left: 0
  }
}
.fs-xxs {
  font-size: .8125em;
  line-height: 1.84615385
}
.fs-xs {
  font-size: .875em;
  line-height: 1.71428571
}
.fs-s {
  font-size: .9375em;
  line-height: 1.6
}
.fs-m {
  font-size: 1em;
  line-height: inherit
}
.fs-l {
  font-size: 1.125em;
  line-height: 1.33333333
}
.fs-xl {
  font-size: 1.3125em;
  line-height: 1.14285714
}
@media amzn-kf8 {
  .fs-xl {
    line-height: 1.2
  }
}
.fs-xxl {
  font-size: 1.4375em;
  line-height: 1.04347826
}
@media amzn-kf8 {
  .fs-xxl {
    line-height: 1.2
  }
}
.fs-jumbo {
  font-size: 1.625em;
  line-height: .92307692
}
@media amzn-kf8 {
  .fs-jumbo {
    line-height: 1.2
  }
}
.bold {
  font-weight: 700
}
.italic {
  font-style: italic
}
.bold-italic {
  font-weight: 700;
  font-style: italic
}
.small-caps {
  font-variant: small-caps;
  letter-spacing: .0625em
}
.caps-to-small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .0625em
}
@media amzn-mobi {
  .caps-to-small-caps {
    font-size: small
  }
}
.underline {
  text-decoration: underline
}
.no-list-type {
  list-style-type: none
}
.break-before {
  page-break-before: always;
  break-before: always
}
.break-after {
  page-break-after: always;
  break-after: always
}
.break-inside {
  page-break-inside: auto;
  break-inside: auto
}
.no-break-before {
  page-break-before: avoid;
  break-before: avoid
}
.no-break-after {
  page-break-after: avoid;
  break-after: avoid
}
.no-break-inside {
  page-break-inside: avoid;
  break-inside: avoid
}
@media amzn-kf8 {
  .no-break-inside {
    page-break-inside: auto;
    break-inside: auto
  }
}