/* DEFINITION LISTS */


dl {
  margin: @base-margin 0 @base-margin @step;

  @media @mobi7 {
    margin: floor(@base-margin) @step;
  }
}

dt {
  margin: @base-margin 0 0 0;   
  font-weight: bold;

  @media @mobi7 {
    margin-top: floor(@base-margin);
  }
}

dd {
  /* Styles */
}

dt > dfn {
  font-style: normal;
  font-weight: bold;
}