/* Lists */
// Customise type and position


// VARS

@ul-type: disc;
@ul-type-nested: square;
@ul-type-position: outside;

@ol-type: decimal;
@ol-type-nested: lower-roman;
@ol-type-position: outside;

// CSS output

ul {
  list-style-type: @ul-type;
  list-style-position: @ul-type-position;
}

ul ul {
  list-style-type: @ul-type-nested;
}

ol {
  list-style-type: @ol-type;
  list-style-position: @ol-type-position;
}

ol ol {
  list-style-type: @ol-type-nested;
}