/* Kindle */
/* Note: if there is nothing in those two Kindle queries, 
ADE (and possibly a ton of apps using legacy RMSDK) will crash. 
So you'd better get rid of those two queries once your EPUB file is converted to kindle mobi. */
/* Warning: Do NOT use `text-rendering: optimizeLegibility` in Kindle's styles,
it is known to create issues with some devices/apps 
(entire text is replaced with boxes (a.k.a. "missing glyph" symbol) */
@supports (height: 100vh) {
  /* Can be used for containers and images 
     but Should be used in combination with .portrait if used for img */
}
@media amzn-kf8 {
  body {
    font-weight: normal;
    /* numeric font weights are problematic for KindleGen, we make sure to "reset" that in case the framework's user use numeric values. */
  }
  b,
  strong,
  .bold {
    font-weight: bold;
  }
  h1,
  h2 {
    line-height: 1.2;
    /* Minimum value Kindle supports */
  }
  .w-80 {
    width: 78%;
    /* Because Kindle developers… */
    margin: 1.5em 11%;
  }
}
@media amzn-mobi {
  body {
    font-weight: normal;
  }
  h1 {
    font-size: xx-large;
    /* Keywords offer more precision for mobi 7*/
    margin: 0 0 3em 0;
    /* mobi7 doesn’t support decimal values */
  }
  h2 {
    font-size: x-large;
    margin: 2em 0 1em 0;
  }
  h3 {
    font-size: large;
    margin: 1em 0;
  }
  h4 {
    font-size: medium;
    margin: 1em 0 0 0;
  }
  b {
    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
  .bold {
    font-weight: bold;
  }
  small {
    font-size: small;
  }
  .small-caps {
    font-size: small;
  }
  sub {
    font-size: x-small;
  }
  sup {
    font-size: x-small;
  }
  hr {
    margin: 1em 0;
  }
  .margin-top-s {
    margin-top: 1em;
  }
  .margin-top-m {
    margin-top: 2em;
  }
  .margin-top-l {
    margin-top: 3em;
  }
  .margin-top-xl {
    margin-top: 5em;
  }
  .margin-top-xxl {
    margin-top: 6em;
  }
  .hanging-indent {
    margin-left: 0;
    /* hack for negative text-indent */
  }
  .footnote {
    font-size: medium;
  }
  ul {
    margin: 1em 0;
  }
  ol {
    margin: 1em 0;
  }
  blockquote {
    margin: 1em 5%;
  }
  dl {
    margin: 1em 5%;
  }
  dt {
    margin-top: 1em;
  }
  pre {
    margin: 1em 0;
  }
  table {
    margin: 1em 0;
  }
  .float-left {
    float: none;
    /* Mobi 7 doesn’t support float */
    margin: 1em 0;
    text-align: center;
  }
  .float-right {
    float: none;
    margin: 1em 0;
    text-align: center;
  }
}
